<div>
    <h2 id="page-heading">
        <span jhiTranslate="exercice6App.commentary.home.title">Commentaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commentary" [routerLink]="['/commentary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="exercice6App.commentary.home.createLabel">
            Create a new Commentary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commentaries?.length === 0">
        <span jhiTranslate="exercice6App.commentary.home.notFound">No commentaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commentaries && commentaries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="exercice6App.commentary.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="exercice6App.commentary.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="messageCommentariesId"><span jhiTranslate="exercice6App.commentary.messageCommentaries">Message Commentaries</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let commentary of commentaries ;trackBy: trackId">
                    <td><a [routerLink]="['/commentary', commentary.id, 'view']">{{ commentary.id }}</a></td>
                    <td>{{ commentary.text }}</td>
                    <td>{{ commentary.creationDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="commentary.messageCommentariesId">
                            <a [routerLink]="['/message', commentary.messageCommentariesId , 'view']" >{{ commentary.messageCommentariesId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commentary', commentary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commentary', commentary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commentary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
